@import 'tailwindcss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-app-region: drag;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
