.markdown-content {
  color: inherit;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.25;
}

.markdown-content h1 {
  font-size: 1.5em;
}

.markdown-content h2 {
  font-size: 1.3em;
}

.markdown-content h3 {
  font-size: 1.1em;
}

.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  font-size: 1em;
}

.markdown-content p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown-content p:first-child {
  margin-top: 0;
}

.markdown-content p:last-child {
  margin-bottom: 0;
}

.markdown-content ul,
.markdown-content ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
}

.markdown-content li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.markdown-content code {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.125em 0.375em;
  border-radius: 0.25em;
  font-size: 0.9em;
  font-family:
    ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono',
    monospace;
}

.markdown-content pre {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.75em;
  border-radius: 0.5em;
  overflow-x: auto;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.markdown-content pre code {
  background-color: transparent;
  padding: 0;
  font-size: 0.875em;
  display: block;
}

.markdown-content blockquote {
  border-left: 3px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
  margin-left: 0;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  color: rgba(255, 255, 255, 0.8);
}

.markdown-content a {
  color: rgba(96, 165, 250, 0.9);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.markdown-content a:hover {
  color: rgba(96, 165, 250, 1);
}

.markdown-content strong {
  font-weight: 600;
}

.markdown-content em {
  font-style: italic;
}

.markdown-content hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1em 0;
}

.markdown-content table {
  border-collapse: collapse;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  width: 100%;
}

.markdown-content th,
.markdown-content td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em;
  text-align: left;
}

.markdown-content th {
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.05);
}
