@import 'tailwindcss';

@import './markdown.css' layer(components);

*:not(.select-text, .select-all):not(.select-text *):not(.select-all *) {
  @apply select-none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
